@{
    ViewData["Title"] = "Справочник для участников";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>

<h1>@ViewData["Title"]</h1>
    
<h2>Полезные ссылки</h2>
<ul>
    <li><a href="https://vk.com/profkom_vlsu" target="_blank">ВКонтакте Профкома ВлГУ</a></li>
    <li><a href="https://t.me/s/profkomvlsu" target="_blank">Телеграм-канал Профкома ВлГУ</a></li>
    <li><a href="https://www.vlsu.ru/" target="_blank">Сайт университета</a></li>
</ul>
    
<h2>Наши контакты</h2>
<p>Адрес: 313-1</p>
<p>Телефон: 8 4922 745566</p>
<p>Почта: profkom_vlsu@mail.ru</p>
