@{
    ViewData["Title"] = "Справочник для председателя профбюро";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>

<h1>Справочник для председателя профбюро</h1>
    
<h2>Общежития</h2>
<p><a href="https://studcity.vlsu.ru/" target="_blank">https://studcity.vlsu.ru/</a></p>
    
<h2>Стипендия</h2>
<p><a href="https://www.vlsu.ru/index.php?id=1420" target="_blank">https://www.vlsu.ru/index.php?id=1420</a></p>
    
<h2>СКС Профсоюза</h2>
<p><a href="https://vk.com/sks_rf" target="_blank">https://vk.com/sks_rf</a></p>
