@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1">Добро пожаловать на нашу платформу!</h1>

        <p class="lead">Спасибо за создание аккаунта. Мы рады приветствовать вас на борту.</p>

        <p>Теперь пришло время перейти к следующему шагу и подать заявку на присоединение к нашей команде.</p>

        <a href="@Url.Action("Apply", "Volunteer")" class="btn btn-primary btn-lg">Подать заявку сейчас</a>
    </div>
</div>