@{
    ViewData["Title"] = "Главная";
}
<link rel="stylesheet" href="~/css/unauthorizedHome.css"/>

<main role="main" class="pb-3">
    <div class="container mt-5">

        <div class="text-center">
            <h1 class="display-4">Профком ВлГУ</h1>
            <p class="lead">Присоединяйтесь к нам, в большую команду Общероссийского Профсоюза Образования!</p>
        </div>

        <!-- Наши инициативы -->
        <section class="mt-5">
            <h2 class="text-center mb-4">Наши возможности</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card glass">
                        <div class="card-body">
                            <h5 class="card-title">Бесконечная сила</h5>
                            <p class="card-text">Мы не просто команда. Мы - группа студентов, полностью преданных своему делу. Мы работаем без остановки.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card glass">
                        <div class="card-body">
                            <h5 class="card-title">Скидки</h5>
                            <p class="card-text">В нашем приложении ты сможешь найти много партнеров и приобрести сотни товаров с приятной скидкой.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card glass">
                        <div class="card-body">
                            <h5 class="card-title">Помощь и защита</h5>
                            <p class="card-text">Независимо от сложности задач, мы владеем информацией для решения всех студенческих проблем!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h2 class="mb-4">Присоединяйтесь к нашей команде</h2>
                            <p>Мы всегда ищем людей, желающих присоединиться к нашей команде. Если вы заинтересованы в волонтерстве или просто хотите посещать наши мероприятия, мы будем рады видеть вас в нашей команде!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <h3 class="mb-4">Чего вы ждете?</h3>
                            <a href="@Url.Action("Apply", "Volunteer")" class="btn btn-primary join-button">Присоединиться</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>